body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg,#14ca77, #ca6114);
    height: 200vh;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: white;
    border-radius: 20px;
}
.formulario h1{
    text-align: center;
    padding: 0 0 20px;
    border-bottom: 1px solid silver;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form.username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ca6114;
    transition: .5s;
}
.username input:focus ~ label,
.username input:valid ~ label{
    top: -5px;
    color: #ca6114;
}

.username input:focus ~ span::before,
.username input:valid ~ span::before{
    width: 100;
}
.recordar{
    margin: 5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}
.recordar:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid #ca6114;
    background: #ca6114;
    border: none;
    outline: none;  
    color: white;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}
input[type="submit"]:hover{
    border-color: #ca6114;
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;

}
.registrarse a{
    text-decoration: none;
    color: blue;
}
.registrarse a:hover{
    text-decoration: underline;
}